In [2]:
##Import Libraries
import pandas as pd

In [3]:
dataset=pd.read_csv("/content/data.csv")

In [4]:
dataset.head()

,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription
0,Pulp Fiction,1994,8.9,94.0,154,"1,871,051",$107.93,\nCrime Drama,Quentin Tarantino John Travolta Uma Thurman Sa...,\nThe lives of two mob hitmen a boxer a gangst...
1,The Amazing Spider-Man 2,2014,6.6,53.0,142,"425,529",$202.85,\nAction Adventure Fantasy,Marc Webb Andrew Garfield Emma Stone Jamie Fox...,\nWhen New York is put under siege by Oscorp i...
2,The Shawshank Redemption,1994,9.3,80.0,142,"2,409,436",$28.34,\nDrama,Frank Darabont Tim Robbins Morgan Freeman Bob ...,\nTwo imprisoned men bond over a number of yea...
3,Star Wars: Episode IV - A New Hope,1977,8.6,90.0,121,"1,255,464",$322.74,\nAction Adventure Fantasy,George Lucas Mark Hamill Harrison Ford Carrie ...,\nLuke Skywalker joins forces with a Jedi Knig...
4,Back to the Future,1985,8.5,87.0,116,"1,087,878",$210.61,\nAdventure Comedy Sci-Fi,Robert Zemeckis Michael J. Fox Christopher Llo...,\nMarty McFly a 17-year-old high school studen...

In [5]:
dataset.shape

(9937, 10)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9937 entries, 0 to 9936
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            9937 non-null   object
 1   Year            9754 non-null   object
 2   Stars           9725 non-null   float64
 3   Score           6145 non-null   float64
 4   Time            9722 non-null   object
 5   Votes           9736 non-null   object
 6   Total           6892 non-null   object
 7   Tags            9929 non-null   object
 8   Directors_Cast  9853 non-null   object
 9   Discription     6145 non-null   object
dtypes: float64(2), object(8)
memory usage: 776.5+ KB

Only stars and score are in float rest are objects

In [7]:
def important_features(dataset):
    data=dataset.copy()
    for i in range(0, dataset.shape[0]):
        data["imp"]=data["Name"]+' '+data["Directors_Cast"]+" "+data["Tags"]
    return data

In [8]:
data=important_features(dataset)

In [9]:
data.head()

,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription,imp
0,Pulp Fiction,1994,8.9,94.0,154,"1,871,051",$107.93,\nCrime Drama,Quentin Tarantino John Travolta Uma Thurman Sa...,\nThe lives of two mob hitmen a boxer a gangst...,Pulp Fiction Quentin Tarantino John Travolta U...
1,The Amazing Spider-Man 2,2014,6.6,53.0,142,"425,529",$202.85,\nAction Adventure Fantasy,Marc Webb Andrew Garfield Emma Stone Jamie Fox...,\nWhen New York is put under siege by Oscorp i...,The Amazing Spider-Man 2 Marc Webb Andrew Garf...
2,The Shawshank Redemption,1994,9.3,80.0,142,"2,409,436",$28.34,\nDrama,Frank Darabont Tim Robbins Morgan Freeman Bob ...,\nTwo imprisoned men bond over a number of yea...,The Shawshank Redemption Frank Darabont Tim Ro...
3,Star Wars: Episode IV - A New Hope,1977,8.6,90.0,121,"1,255,464",$322.74,\nAction Adventure Fantasy,George Lucas Mark Hamill Harrison Ford Carrie ...,\nLuke Skywalker joins forces with a Jedi Knig...,Star Wars: Episode IV - A New Hope George Luca...
4,Back to the Future,1985,8.5,87.0,116,"1,087,878",$210.61,\nAdventure Comedy Sci-Fi,Robert Zemeckis Michael J. Fox Christopher Llo...,\nMarty McFly a 17-year-old high school studen...,Back to the Future Robert Zemeckis Michael J. ...

In [10]:
data["ids"]=[i for i in range(0,data.shape[0])]

In [11]:
##Importing vectoriser

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
vec=TfidfVectorizer()

In [13]:
vecs=vec.fit_transform(data["imp"].apply(lambda x: np.str_(x)))

In [14]:
vecs.shape

(9937, 20994)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
sim=cosine_similarity(vecs)

In [17]:
sim.shape##Columns represnt movie-ids and not rows

(9937, 9937)

In [19]:
def recommend(title):
    movie_id=data[data.Name==title]["ids"].values[0]
    scores=list(enumerate(sim[movie_id]))
    sorted_scores=sorted(scores,key=lambda x:x[1],reverse=True)
    sorted_scores=sorted_scores[1:]
    movies=[data[movies[0]==data["ids"]]["Name"].values[0] for movies in sorted_scores]
    return movies

In [20]:
def recommend_ten(movie_list):
    first_ten=[]
    count=0
    for movie in movie_list:
        if count > 9:
            break
        count+=1
        first_ten.append(movie)
    return first_ten

In [23]:
list_movie = recommend("Iron Man")
m = recommend_ten(list_movie)

In [24]:
m

['Iron Man 2',
 'Iron Man 3',
 'Spider-Man: Homecoming',
 'Pinocchio',
 'Made',
 'The Good Night',
 'Duets',
 'The Avengers',
 'The Gingerbread Man',
 'Cowboys & Aliens']